body{
    background: url("../img/header.jpeg") no-repeat; position: relative; background-size: 1700px;
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border: 3px solid black;
}
/* ----------- iPhone 6+, 7+ and 8+ ---------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px)
{
    .contact-form{
        background: #fff;
        margin-top: 35%;
        margin-bottom: 5%;
        width: 93%;
        border: 3px solid black;
    }

}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #080808;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #d30700;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #080808;
    border: none;
    cursor: pointer;
}