.card{margin-top:20px;border-right:5px solid #fccb48;}


.card {
    width: 400px!important;
}

.leftcontainer {
     margin-left: 400px;
    padding: 20px!important;
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .leftcontainer {
        margin-left: 0px;
        padding: 0px!important;
    }

}
.rightcontainer {
    padding: 20px!important;
}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .rightcontainer {
        margin-left: 0px;
        padding: 0px!important;
    }

}
.card-text-contact {
    text-align: center!important;
    width: 390px!important;
    padding-right: 50px!important;
}

.contactbtn {
    margin-left: 120px;
}

.card-text-text {
    text-align: center!important;
    width: 390px!important;
    max-width: 300px!important;
    padding-left: 50px!important;
}

.sidebarcontact {
    background: #0d95e8;
    height: 700px;
    widht: 250px;
}