
.downloads {
    max-width: 1000px;
    margin-left: 18%;
    width: 100%;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(156,156,156,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(156,156,156,1);
    box-shadow: 0px 0px 10px 5px rgba(156,156,156,1);
    margin-bottom: 30px;
    margin-top: 30px;
}

/* ----------- iPhone 6+, 7+ and 8+ ---------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px)
{
    .downloads {
        max-width: 400px;
        margin-left: 0%;
        width: 100%;
        padding: 14px;
    }
}
.downloadimg {
    float: right;
    margin-right: 20px;
}
@media only screen
and (min-width: 400px)
and (max-width: 736px)
{
    .downloadimg {
        float: left;
        margin-right: 0px;
    }
}
@media only screen
and (min-width: 400px)
and (max-width: 736px)
{
    .download-titel {
        width: 330px;
    }
}

.downloadlinkjes {
    background-color: lightgrey;
    padding: 20px;
    margin-top: 30px;

}

.vacatures {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;

}
@media only screen
and (min-width: 400px)
and (max-width: 736px)
{
    .vacatures-titel {
        width: 323px;
    }
}
@media only screen
and (min-width: 400px)
and (max-width: 736px)
{
    .downloadimg {
        float: left;
        margin-left: 10px;
    }
}
.deur {
    border: 2px solid red;
    width: 300px;
    height: 250px;
    position: absolute;
    margin-left: 50px;
    margin-top: 55px;
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .deur {
        border: 2px solid red;
        width: 300px;
        height: 250px;
        position: relative;
        margin-left: 0px;
        margin-top: 55px;
    }
}

.tekstdeur {
    position: relative;
    max-width: 400px;
    float: right;
    margin-right: 50px!important;
}

.product-kozijn {
    max-width: 1000px;
    margin-left: 18%;
    width: 100%;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    margin-bottom: 30px;
    margin-top: 30px;
    height: 650px;
}
.product-deur {
    max-width: 1000px;
    margin-left: 18%;
    width: 100%;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    margin-bottom: 30px;
    margin-top: 30px;
    height: 650px;
}
.product-raam {
    max-width: 1000px;
    margin-left: 18%;
    width: 100%;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    box-shadow: 0px 0px 10px 5px rgba(156, 156, 156, 1);
    margin-bottom: 30px;
    margin-top: 30px;
    height: 650px;
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .product-kozijn {
        max-width: 400px;
        margin-left: 0%;
        height: 1460px;

    }
}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .product-deur {
        max-width: 400px;
        margin-left: 0%;
        height: 1000px;

    }
}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .product-raam {
        max-width: 400px;
        margin-left: 0%;
        height: 1250px;

    }
}

.headerdeur {
    margin-left: 410px;
}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .headerdeur {
        padding-top: 10px;
        margin-left: 0px;
    }
}


.productimg {
    float: left;
    margin-left: 70px;
}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .productimg {
        float: left;
        margin-left: 17px;
    }
}
