/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #C30C0C;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #C30C0C !important;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.container-footer {
    max-width: 1200px;
    margin-left: 38%;

}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .container-footer {
        max-width: 1200px;
        margin-left: 0%;

    }

}
.footerimages {
    margin-left: 25%;
    padding: 10px;
}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .footerimages {
        margin-left: 0%;
        padding: 21px;
    }

}
.borderline {
    border-bottom: 1px solid white;
    padding-top: 20px;

}
.borderlinetop {
    border-bottom: 1px solid white;
}