.blogShort{    width: 100%!important;
    max-width: 1700px!important;
    padding-left: 200px!important;
    padding-right: 200px!important;
    border-bottom: 1px solid;}
.add{background: #333; padding: 10%; height: 300px;}

/* ----------- iPhone 6+, 7+ and 8+ ---------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px)
{
    .blogShort {
        max-width: 736px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.btn-blog {
     color: #ffffff;
     background-color: #C30C0C;
     border-color: #C30C0C;
     border-radius:0;
     margin-bottom:10px;
 }

.btn-bloguit {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius:0;
    margin-bottom:10px;
    box-shadow: 0 2px 5px 0 #ffffff, 0 2px 10px 0 #ffffff
}

.btn-bloguit:hover,
.btn-bloguit:focus,
.btn-bloguit:active,
.btn-bloguit.active,
.open .dropdown-toggle.btn-bloguit {
    color: white;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 2px 5px 0 #ffffff, 0 2px 10px 0 #ffffff
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color: #C30C0C;
    border-color: #C30C0C;
}
h2{color:#C30C0C;}

.margin10{margin-bottom:10px; margin-right:10px;}

.btngoed {
    margin-left: 1100px;
}

@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .btngoed {
        margin-left: 0px;
    }

}
.tekst {
    width: 100% !important;
    padding-top: 2%!important;
}

.hoofd {
    padding-left: 32%!important;
    margin-top: 20px;
    margin-bottom: -20px;
}
@media only screen
and (min-width: 400px)
and (max-width: 736px) {
    .hoofd {
        padding-left: 0%!important;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

.fotoproject {
    max-width: 350px!important;
    max-height: 250px;


}
