/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 480px)
 {

}

/* Portrait */
@media only screen
and (min-width: 320px)
and (max-width: 480px)

and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 480px)

and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 568px)
 {

}

/* Portrait */
@media only screen
and (min-width: 320px)
and (max-width: 568px)

and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 568px)

and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 375px)
and (max-width: 667px)
 {

}

/* Portrait */
@media only screen
and (min-width: 375px)
and (max-width: 667px)

and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-width: 375px)
and (max-width: 667px)

and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ---------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px)
 {

}

/* Portrait */
@media only screen
and (min-width: 400px)
and (max-width: 736px)

and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-width: 400px)
and (max-width: 736px)

and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 375px)
and (max-width: 812px)
 {

}

/* Portrait */
@media only screen
and (min-width: 375px)
and (max-width: 812px)

and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-width: 375px)
and (max-width: 8142px)

and (orientation: landscape) {

}